img{
    display: block;
}

p, a {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

h2{
    font-size: 48px;
}

main {
    padding: 50px 20px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.meteo-section {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

main h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#meteo-section-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#meteo-section-img img {
    max-width: 100%; 
    height: auto;
    display: none;
}



#reponse {
    font-size: 1.7rem;
    font-weight: 500;
    max-width: 50vw;
}

@media (max-width: 800px) {

    #reponse {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

}

.ranger{
    display: flex;
    flex-direction: column;
    gap: 15px;
} 


.show {
    display: block !important;
    opacity: 1;
}

h1 {
    color: rgb(189, 189, 189); 
    font-size: 2.5rem; 
    margin-top: -20px;
}