/* GENERAL */

*{
    margin:0;
    padding:0;
    font-family: "Inter", sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.no-select, header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* desactiver le drag and drop */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* NAVIGATION MENU */

.btn {
    width: fit-content;
    height: fit-content;
    background-color: black;
    color:white;
    margin:1%;
    padding:10px 20px;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    /* prevent word wrap */
    white-space: nowrap;
    cursor: pointer;
}


#reset-position-btn {
    font-size: 1rem;
    font-weight: 100;
    background-color: rgb(236, 239, 243);
    border: rgb(212, 212, 212) solid 1px;
    color: black;
    box-shadow: 0 0 0px rgba(62, 48, 124, 0.2);
    transition: all 0.1s ease-in-out;
}


#reset-position-btn:hover {
    /* shadow around the button */
    box-shadow: 0 0 10px rgba(69, 61, 105, 0.2);

}

#desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#desktop-menu div {
    display: flex;
    align-items: center;
    gap: 2vw
}

#return {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 2vw;
}

#navBar{
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1000;
    font-size: 18px;
    height: 6rem;
    border-bottom: #EFEFEF solid 1px;
    background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(255,255,255,0) 100%);
    padding: 0 8vw;
}


#navBar nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6vw;
}

#navBar nav ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: black;
}

#mobile-menu-btn {
    display: none; 
    cursor: pointer;
}

#mobile-menu {
    display: none;
    position: fixed;
    border-bottom: #EFEFEF solid 1px;
    backdrop-filter: blur(10px);
    background: rgb(247,247,247);
    background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(255,255,255,0) 100%);
    top: 0;
    right: 0;
    width: 100%;
    padding: 1.4rem 1rem;
    z-index: 1000;
    justify-content: space-between;
}

#desktop-bar {
    display: none;
    justify-content: space-between;
}

#mobile-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center; 
    justify-content: center; 
    width: 100%;
}

@media (max-width: 768px) {

    #navBar{
        padding: 1.4rem 1rem;
        background: transparent;
        border-bottom: 0px;
    }

    #desktop-menu {
        display: none;
    }

    #desktop-bar, #mobile-menu-btn {
        display: flex;
    }
}


/* LOADER ELEMENTS */

.loader-stage-1 {
    height: 30px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side, #000 90%, #0000);
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 1s infinite linear; 
}

@keyframes l43 {
    0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
    66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
    83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
    100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}

.loader-stage-2 {
    width: 80px;
    height: 40px;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
    animation: fadeInSimple 1s;
}
.loader-stage-2::before {
    content: "";
    position: absolute;
    inset: 0 0 -100%;
    background: 
        radial-gradient(farthest-side,#ffd738 80%,#0000) left 70% top    20%/15px 15px,
        radial-gradient(farthest-side,#020308 92%,#0000) left 65% bottom 19%/12px 12px,
        radial-gradient(farthest-side,#ecfefe 92%,#0000) left 70% bottom 20%/15px 15px,
        linear-gradient(#9eddfe 50%,#020308 0);
    background-repeat: no-repeat;
    animation: l5 2s infinite;
    }
    @keyframes l5 {
    0%,20%   {transform: rotate(0)}
    40%,60%  {transform: rotate(.5turn)}
    80%,100% {transform: rotate(1turn)}
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}

.show-loader {
    opacity: 1;
}