img{
    display: block;
}

p, a {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

h2{
    font-size: 48px;
}

main {
    padding: 50px 20px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-wrapper {
    display: none;
}

main h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#meteo-section-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#meteo-section-img img {
    max-width: 100%; 
    height: auto;
    display: none;
}

@media (max-width: 768px) {
    #main-wrapper{
        margin-top:10%;
    }

    #meteo-section-img{
        margin: 10%;
    }

}

.show {
    display: block !important;
}

#reponse {
    font-size: 1.7rem;
    font-weight: 500;
    max-width: 600px;
}

@media (max-width: 800px) {

    #reponse {
        font-size: 1.5rem;
    }

}